---
---

@import "minima";

h1,h2,h3,h4,h5,h6 .wrapper {
    color: #FFFFFF;
}

.rss-subscribe {
    font-family: "Helvetica";
    font-size: 14px;
    color: #828282;
    text-align: right;
}

.home {
    a {
        color: #FFFFFF;
    }
    padding: 15px;
    background-color: rgba(black, 0.3);
    color: #FFFFFF;
}


.site-title, .site-title:visited {
    color: #FFFFFF;
    text-decoration: none!important;
}

.site-nav {
    .page-link {
        color: #FFFFFF;
        text-decoration: none;
    }
}

article {
    background-color: rgba(black, 0.3);
    li {
        list-style-type: circle;
    }
    a, a:visited { 
        color: #FFFFFF; 
        font-weight: bold;
    }
    .post-title {
        color: #FFFFFF;
        text-align: right;
    }
    .post-content {
        color: #FFFFFF;
        font-weight: 300; 
    }
    padding: 15px;
}

.img-thumbnail {
    height: 64px;
    width: 64px;
    margin: 15px;
    vertical-align: middle;
    float: left;
    border-radius: 5px;
}

